.subContent {
	margin: 0 auto;
	padding: 85px;
	color:white
	/* padding: 100px auto; */
}
.main {
	text-align: center;
	height: 100vh;
	box-sizing:border-box;
	width: auto;
	background-color: #131212;
	color: beige;
}
